:root{
    /**************
    *** Colors *** 
    **************/ 
    --color-secondary:#c6cace; 
    --color-info:#84bed6;
    --color-dark:#343a40;
    --color-white: #fff; 
    --color-green:#069b06; 
    --color-transparent:transparent; 
    --color-dark-transparent: rgba(0, 0, 0, 0.2);

    /************** 
    *** Display ***
    ***************/
    --display-xxs: 1rem; 
    --display-xs: 1.4rem;
    --display-sm: 1.6rem; 
    --display-md: 1.8rem; 
    --display-lg: 2rem;
    --display-xl: 2.5rem;
    --display-xxl: 4rem; 
   
    /*****************
    *** Lineheight ***
    *****************/ 
    --line-height-sm: 1rem;
    --line-height-md: 1.6rem;
    --line-height-lg: 3rem;
    --line-height-xl: 3.5rem;

    /***************
    *** Distance *** 
    ***************/
    --distance-0: 0rem;
    --distance-1: .15rem; 
    --distance-2: .5rem; 
    --distance-3: .75rem;
    --distance-4: 1rem;
    --distance-5: 1.25rem; 
    --distance-6: 1.5rem; 
    --distance-7: 1.75rem; 
    --distance-8: 2rem; 
    --distance-9: 2.25rem;
    --distance-10: 2.5rem;
    --distance-11: 2.75rem;
    --distance-12: 3rem;
    --distance-13: 3.25rem;
    --distance-14: 3.5rem;
    --distance-15: 3.75rem;
    --distance-16: 4rem;
    
    /***************
    *** Shadows *** 
    ***************/
    --shadow-small-light: .15rem .15rem 0 rgba( 0, 0, 0, .1);
    --shadow-large-light: .25rem .25rem 0 rgba(0, 0, 0, .1);

    /****************
    *** Borders *** 
    ****************/ 
    --border-xs-white: 0.1rem solid var(--color-white);
    --border-xs: .1rem solid var(--color-white);
    --border-sm: .2rem solid var(--color-white);
    --border-lg: .4rem solid var(--color-white); 

    --border-radius-sm: .25rem; 
    --border-success: .2rem solid var(--border-color-success);
    --border-transparent: .1 solid var(--color-transparent);
}

    *{
        margin: 0;
        padding: 0;
    }
    *,
    *::before,
    *::after{
        box-sizing: inherit;
    }

    html{
        box-sizing: border-box;
        font-size: 62.5%;  /* 1rem=10px , 10px/16px=62.5% */
    }
    body{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: var(--color-dark);
        font-size: var(--display-sm);
        min-height: 100 vh;
    }
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
        font-family:"Dosis","Open Sans", sans-serif;
        font-weight: 700; letter-spacing: .05rem; /* mellanrum mellan varje bokstav*/
    }
    .h1,h1{font-size: var(--distance-13);}


    /************************ 
    *** Background Colors ***
    ************************/
    .bg-secondary, .btn-secondary { background-color:var(--color-secondary); }
    .bg-green, .btn-green { background-color:var(--color-green); }
    .bg-info, .btn-info { background-color:var(--color-info); }
    .bg-dark, .btn-dark { background-color:var(--color-dark); }
    .bg-white, .btn-white { background-color:var(--color-white); }
    .bg-transparent { background-color:var(--color-transparent); }
    .bg-dark-transparent { background-color:var(--color-dark-transparent); }

    /*******************
    *** Text Colors *** 
    *******************/ 
    .text-secondary{ color:var(--color-secondary); }
    .text-green{ color:var(--color-green); }
    .text-info{ color:var(--color-info); }
    .text-dark{ color:var(--color-dark); }
    .text-white{ color:var(--color-white); }
    .text-trans{color:var(--color-transparent) ;}

    /********************
    *** Border Colors ***
    ********************/ 
    .border-color-secondary { border-color:var(--color-secondary)! important; }
    .border-color-green { border-color:var(--color-green)!important; }
    .border-color-info { border-color:var(--color-info)!important; }
    .border-color-dark { border-color:var(--color-dark) !important; }
    .border-color-white { border-color:var(--color-white)!important; }

